{% extends 'base.html' %}
{% block title %} {{title}} {% endblock %}


{% block content %}

<div class="container-fluid">
  <h3>{{category.name}}</h3>
   <div class="row">
       <div class="col-sm-8">
         <div class="row">
             {% for product in products %}
                <div class="col-md-4">
                    <div class="text-center">
                      <a href="{{product.get_absolute_url}}">
                         <img src="{{product.image.url}}" alt="..." style="height: 130px; width:auto;" >
                      </a>
                        <div class="cart-body text-left">
                          <strong>
                            <a href="{{product.get_absolute_url}}">{{product.name}}</a>
                          </strong>
                          <div class="cart-text">{{product.description}}</div>
                          <div class="cart-text">{{product.price}}</div>
                      </div>
                    </div>
                </div>
             {% endfor %}
         </div>
         <div aria-label="Page navigation ">
          <ul class="pagination pagination-circle pg-red">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
            {% endif %}
          </ul>
      </div>
       </div>
        <div class="col-sm-2">
                
        </div>
        <div class="col-sm-2">
            <div>
              <h4>Categorys</h4>
              <ol class="list-unstyled">
                <li>
                  <a href="{% url 'prodlist' %}">All</a>
                </li>
                    {% for c in  categories %}
                    <li>
                      <a href="{{c.get_absolute_url}}">{{c.name}}</a>
                    </li>
                    {% endfor %}
              </ol>
            </div>
        </div>
   </div>
</div>


{% endblock %}
